<div class="container-fluid" style="background: lightcyan">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
    Launch Default Modal
  </button>
  <!-- leave school popup -->
  <!-- <div class="main-body">
  <div class="image-holder">
    <img src="../../../assets/Images/pages-icons/leave-school.png" alt="leave-school">
  </div>
  <div class="message">
    <h2>Are You Sure You Want To Leave School</h2>
  </div>
  <div id="leave-school-popup" class="btns" >
    <button class="btn btn-cancle">Cancle</button>
    <button class="btn btn-done">Leave Now</button>
  </div>
 </div> -->
  <!-- leave school popup end -->



  <!-- leave school confirm -->
  <!-- <div class="main-body">
      <div class="heading">
        <H3>LEAVE SCHOOL</H3>
        <p>this is isisisdfdfdfjdfdfdsfhdfkjhfdkjdfhdkjfhdfk jhdfkjhdf
        </p>
      </div>
      <div class="image-holder">
        <img src="../../../assets/Images/pages-icons/leave-school.png" alt="leave-school">
      </div>
  
      <div class="btns">
        <button class="btn btn-done">Leave School</button>
      </div>
      <p>this is isisisdfdfdfjdfdfdsfhdfkjhfdkjdfhdkjfhdfk jhdfkjhdf
      </p>
    </div>
  </div> -->
  <!-- leave school confim delete -->

  <!-- join class  -->
  <!-- <div class="container">
         <div class="main-body">

            <div class="image-holder">
              <img src="../../../assets/Images/pages-icons/join -class.png" alt="leave-school">
            </div>
            <form [formGroup]=loginForm class="text-left form-validate ">

              <div class="form-group-material">
                <input formControlName=password id="password" type="password" name="password" class="input-material" [ngClass]="{'is-invalid ': (!loginForm.controls['password'].valid && loginForm.controls['password'].touched ), 'is-valid': (loginForm.controls['password'].valid && loginForm.controls['userName'].touched )}">
                <label for="password" class="label-material">Password</label>

                <span *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched " class="help-block sub-little-text"
                  style="color:#dc3545">password is required.</span>

              </div>
              <div class="btns">
                <button class="btn btn-done">Leave School</button>
              </div>
            </form>
            <div class="bottom-link">
              <p>Want to
                <span style="color:#f76149">Create Class?</span>
              </p>
            </div>

          </div>
  </div> -->
  <!-- join class end -->

  <!-- join class list -->
  <!-- <div class="main-body">

      <div class="image-holder">
        <img class="image-mini" src="../../../assets/Images/pages-icons/join -class.png" alt="leave-school">
        <h4>Join Class</h4>
      </div>

      <table class="table table-striped">
        <tbody>
          <tr>
            <td class="title">
              <img class="image-heading" src="../../../assets/Images/ClassIcons/art.svg" alt=""> Chemistry
            </td>
            <td>
              <button class="btn btn-done-mini">join class</button>
            </td>
          </tr>
          <tr>
            <td  class="title">
              <img class="image-heading" src="../../../assets/Images/ClassIcons/geometry.svg" alt=""> Geometry
            </td>
            <td>
              <button class="btn btn-done-mini">join class</button>
            </td>
          </tr>
          <tr>
            <td  class="title">
              <img class="image-heading" src="../../../assets/Images/ClassIcons/literature.svg" alt=""> Literature
            </td>
            <td>
              <button class="btn btn-done-mini">join class</button>
            </td>
          </tr>
          <tr>
            <td class="title">
              <img class="image-heading" src="../../../assets/Images/ClassIcons/math.svg" alt=""> Methematics
            </td>
            <td>
              <button class="btn btn-done-mini">join class</button>
            </td>
          </tr>
          <tr>
            <td  class="title">
              <img class="image-heading" src="../../../assets/Images/ClassIcons/writing.svg" alt=""> Story writing
            </td>
            <td>
              <button class="btn btn-done-mini">join class</button>
            </td>
          </tr>

        </tbody>
      </table>

    </div> -->
  <!-- join class list end -->


  <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-header">
        </div>
        <div class="modal-body">
          
        </div>

      </div>
    </div>

  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->