body { margin: 0; background: #333; }
header { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
  
}
header div img { 
  width: 100%; 
  height: auto; 

  transition: visibility 0s linear 0.33s, opacity 0.33s ;
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}

.btns {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
    
    
   justify-content: center;
}

.btn-cancle {
    /* align-items: flex-start; */
    border-radius: 0;
    color: white;
    /* flex: 1; */
    width: 100px
}

.btn:focus {
    outline: none !important;
}

.btn-done {
    border-radius: 0;
    background-color: #f76149;
    color: white;
    /* flex: 1; */
    width: 100px
}

.btn-done-mini {
    border-radius: 0;
    background-color: #f76149;
    color: white;
    padding: 4px;
}