.flex-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  flex-direction: column;
}

.info-section{
  background: pink;
 
  width: 100%;
  padding: 35px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
.body-section{
  background: paleturquoise;
  /* padding: 35px; */
  height: 100%;
  text-align: center;
}

.info{
  padding: 15px;
  flex: 1;
  height: 100%;
  width: 100%;
  border: 1px solid olive;
  /* text-align: center; */
  justify-content: start;
  display: flex;
}

.settings{
  padding: 15px;
  flex: 1;
  height: 100%;
  width: 100%;
  border: 1px solid mediumvioletred;
   text-align: end;
}
.info-image{
  border-radius: 50%;
}
.main-heading{
  /* width: 165px;
  height: 22px;
  mix-blend-mode: undefined; */
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  /* font-style: normal;
  font-stretch: normal; */
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}