<!-- <app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<app-appfooter></app-appfooter>
<app-appsettings></app-appsettings> -->

<!-- <div class="wrapper"> -->
<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>

<div class="content-wrapper" >

<!-- <app-dashboard-body></app-dashboard-body> -->
 <!-- <app-password></app-password>  -->
 <!-- <app-organize-classes></app-organize-classes> -->
<!-- <app-block-users></app-block-users> -->
<!-- <app-records></app-records> -->

<!-- <app-navbar></app-navbar> -->
<!-- <app-test-pages></app-test-pages>   -->

</div>
