<!-- <app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<app-appfooter></app-appfooter>
<app-appsettings></app-appsettings> -->
<app-navbar></app-navbar>
<div class="content-wrapper">

    <div class="flex-wrapper">
        <div class="info-section">
            <div class="info">
                <div>
                    <img class="info-image" src="../assets/Images/ClassIcons/art.svg" alt="">
                </div>
                <div style="margin-left: 30px">
                    <span class="main-heading">Chemistry 9th-c</span>
                    <br>
                    <p>this is test to</p>
                    <!-- <p>this is test to</p> -->

                </div>
            </div>
            <div class="settings">

            </div>

        </div>
        <div class="body-section">

            <app-dashboard-body></app-dashboard-body>
        </div>

    </div>

</div>