
<header class="main-header">
  <!-- Logo -->
  <a class="logo">
      <span class="logo-mini">
          <img [src]="logo_mini" alt="no image available">
      </span>

      <span class="logo-lg">
          <img [src]="logo_lg" alt="no image available">
      </span>

  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

              <li class="dropdown user user-menu"  style="max-width: 330px">
                    
                  <a style="width: 340px" href="#" class="dropdown-toggle test" data-toggle="dropdown" >
                        <img [src]="user_image" class="user-image" alt="User Image" style="margin-left: 15px">
                        <span>Good morning <br>
                            Muhammad Ejaz ur Rahman
                        </span>
                   <i class="fa fa-fw fa-caret-down" ></i>

                  </a>
                  <!-- <ul class="dropdown-menu unrLine">

                        <li routerLinkActive="active" style="box-shadow: 0px 3px 3px 0px #c7c6c6;">
                            <a routerLink="Profile" class="profileExpand">
                                <i class="fa fa-fw fa-user"></i> Profile 
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="Password">
                                <i class="fa fa-fw fa-gears"></i>  Password
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ForgetPassword">
                                <i class="fa fa-fw fa-gears"></i>  Forget Password
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="Help">
                                <i class="fa fa-fw fa-info-circle"></i>Help Center
                            </a>
                        </li>
                        <li style="border-bottom: 0px solid !important;">
                            <a>
                                <i class="fa fa-fw fa-power-off"></i>Log out
                            </a>
                        </li>
                    </ul>
                    <ul class="dropdown-menu unrLine"  style="right:223px !important;">

                            <li>
                                                                    <a>
                                    <i class="fa fa-fw fa-download"></i>   Download Record
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-fw fa-ban"></i> Block user
                                </a>
                            </li>
                            <li  style="border-bottom: 0px solid!important;">
                                <a>
                                    <i class="fa fa-fw fa-calendar"></i> Organize Classes
                                </a>
                            </li>
                            <li style="border-bottom: 0px solid!important;">
                                <a>
                                    <i class="fa fa-fw fa-calendar"></i> DashBoard
                                </a>
                            </li>
                            <li  style="border-bottom: 0px solid!important;">
                                <a>
                                    <i class="fa fa-fw fa-calendar"></i> msg
                                </a>
                            </li>
                            <li>
                                <a>people</a>
                            </li>
                        </ul> -->
                   <ul class="dropdown-menu unrLine" role="menu" aria-labelledby="dLabel">

                      <li style="box-shadow: 0px 3px 3px 0px #c7c6c6;" style="right:223px !important;">
                          <a class="profileExpand test" tabindex="-1" href="#">
                              <i style="border-right: 1px solid #c7c6c6 ;padding-right: 25px ;line-height: 40px;" class="fa fa-fw fa-user"></i> Profile
                          </a>
                          <ul class="dropdown-menu unrLine subMenu" >
                              <li >
                                  <a>
                                      <i style="border-right: 1px solid #c7c6c6 ;padding-right: 25px ;line-height: 40px;" class="fa fa-fw fa-gears"></i> Password
                                  </a>
                              </li>
                              <li >
                                  <a>
                                      <i style="border-right: 1px solid #c7c6c6 ;padding-right: 25px ;line-height: 40px;" class="fa fa-fw fa-gears"></i> Password
                                  </a>
                              </li>
                          </ul>

                      </li>
                      <li>
                          <a>
                              <i style="border-right: 1px solid #c7c6c6 ;padding-right: 25px ;line-height: 40px;" class="fa fa-fw fa-gears"></i> Password
                          </a>
                      </li>
                      <li>
                          <a>
                              <i style="border-right: 1px solid #c7c6c6 ;padding-right: 25px ;line-height: 40px;" class="fa fa-fw fa-info-circle"></i>Help Center
                          </a>
                      </li>
                      <li style="border-bottom: 0px solid!important;">
                          <a>
                              <i style="border-right: 1px solid #c7c6c6 ;padding-right: 25px ;line-height: 40px;" class="fa fa-fw fa-power-off"></i>Log out
                          </a>
                      </li>
                  </ul> 

              </li>
          </ul>
      </div>
  </nav>
</header>
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: 100%; margin-top:117px !important;">
      <ul class="sidebar-menu" data-widget="tree">

          <li class="heading">
              <a>
                  <span>CREATED CLASSES</span>
                  <i class="fa fa-plus"></i>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/ClassIcons/art.svg" alt="">
                  </i>
                  <span class="subHeading">Important</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/ClassIcons/geometry.svg" alt="">
                  </i>
                  <span class="subHeading">Warning</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/ClassIcons/literature.svg" alt="">
                  </i>
                  <span class="subHeading">Information</span>
              </a>
          </li>

          <hr>
          <li class="heading">
              <a>
                  <span>JOINED CLASSES</span>
                  <i class="fa fa-plus"></i>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/ClassIcons/math.svg" alt="">
                  </i>
                  <span class="subHeading">Important</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/ClassIcons/soccer.svg" alt="">
                  </i>
                  <span class="subHeading">Warning</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/ClassIcons/math.svg" alt="">
                  </i>
                  <span class="subHeading">Information</span>
              </a>
          </li>
          <hr>
          <li class="heading">
              <a>
                  <span>SCHOOL</span>
                  <i class="fa fa-plus"></i>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/all-classes.png" alt="">
                  </i>
                  <span class="subHeading">All Classes</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/school-7.png" alt="">
                  </i>
                  <span class="subHeading">Alide School</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i>
                      <img class="classHeading" src="../assets/Images/calendar-2.png" alt="">
                  </i>
                  <span class="subHeading">Anual Calender</span>
              </a>
          </li>
          <!-- <li class="heading"><a  > <span>Documentation</span> <i class="fa fa-book"></i></a> </li>
                  <li class="heading"><a  > <span>Documentation</span> <i class="fa fa-book"></i></a> </li>
                  <li class="heading"><a  > <span>Documentation</span> <i class="fa fa-book"></i></a> </li> -->
          <!-- <li class="header">LABELS</li>
                  <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                  <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                  <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
      </ul>
  </section>
  <!-- /.sidebar -->
</aside>
