<section class="content" >
    <!-- Default box -->
    <div class="box" style="box-shadow: 0 0px 0px white!important;margin-top: 20px!important;" >
        <div class="box-body" style="padding:0!important;">
            <div>
                     <div class="box-header">

                        </div>
                        <p style="text-align:center;  "><img src="assets/Images/ChangePassword.png" class="img-responsive" style="display:inline !important;" /></p>

                        <p style="text-align:center; font-weight:bold;height:81px;">Change your password</p>

                        <div class="col-sm-offset-3 col-md-6">
                            <div class="row">
                                <div id="successDialog">
                                    <div style="padding: 9px 4px;">
                                        <p>ViewBag Text</p>
                                    </div>
                                </div>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="password" class = "form-control rect logOnTexboxStyle" placeholder = "Old password" >
                                            <!-- @Html.EditorFor(model => model.PasswordModel.OldPassword, new { htmlAttributes = new { @class = "form-control rect logOnTexboxStyle", placeholder = "Old password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordModel.OldPassword, "", new { @class = "text-danger" }) -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                                <input type="password" class = "form-control rect logOnTexboxStyle" placeholder = "Old password" >
                                            <!-- @Html.EditorFor(model => model.PasswordModel.NewPassword, new { htmlAttributes = new { @class = "form-control rect logOnTexboxStyle", placeholder = "New password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordModel.NewPassword, "", new { @class = "text-danger" }) -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                                <input type="password" class = "form-control rect logOnTexboxStyle" placeholder = "Old password" >
                                            <!-- @Html.EditorFor(model => model.PasswordModel.ConfirmPassword, new { htmlAttributes = new { @class = "form-control rect logOnTexboxStyle", placeholder = "Confirm password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordModel.ConfirmPassword, "", new { @class = "text-danger" }) -->
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group" style="text-align:center;">
                                        <div class="col-md-12">
                                            <input type="submit" value="UPDATE" id="button" style="width: 100px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
               
            </div>
        </div>
    </div>
</section>