<section class="content">
    <!-- Default box -->
    <div class="box" style="box-shadow: 0 0px 0px white!important;margin-top: 20px!important;">
        <div class="box-body" style="padding:0!important;">
            <div>
                <div class="box-header">

                </div>
                <p style="text-align:center;  ">
                    <img src="assets/Images/ChangePassword.png" class="img-responsive" style="display:inline !important;" />
                </p>

                <p style="text-align:center; font-weight:bold;height:81px;">Change your password</p>


                <div *ngIf="successTrigger" style="position: absolute; top: 318px; width: 100%;" class="alert alert-success alert-dismissable ">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <i class="fa fa-comment fa-fw"></i>
                    <strong>{{message}}success message</strong>
                </div>
                <!-- error message -->
                <div *ngIf="errorTrigger" style="position: absolute; top: 318px; width: 100%;" class="alert alert-danger alert-dismissable  ">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <i class="fa fa-ban fa-fw"></i>
                    <strong>{{message}}</strong>
                </div>
                <div class="form-inner">

                    <form [formGroup]=PasswordForm (ngSubmit)=ChangePassword(PasswordForm.value) class="text-left">

                        <div class="form-group-material">
                            <input formControlName=oldpassword id="oldpassword" type="password" name="oldpassword" class="input-material" [ngClass]="{'is-invalid ': (!PasswordForm.controls['oldpassword'].valid && PasswordForm.controls['oldpassword'].touched ), 'is-valid': (PasswordForm.controls['oldpassword'].valid && PasswordForm.controls['oldpassword'].touched )}">
                            <label for="oldpassword" class="label-material">Old Password</label>

                            <span *ngIf="!PasswordForm.controls['oldpassword'].valid && PasswordForm.controls['oldpassword'].touched " class="help-block sub-little-text"
                                style="color:red">Old password is required.</span>

                        </div>

                        <!-- <div class="form-group-material">
                            <input formControlName=newpassword id="newpassword" type="password" name="newpassword" class="input-material" [ngClass]="{'is-invalid ': (!PasswordForm.controls['newpassword'].valid && PasswordForm.controls['newpassword'].touched ), 'is-valid': (PasswordForm.controls['newpassword'].valid && PasswordForm.controls['newpassword'].touched )}">
                            <label for="newpassword" class="label-material">New password</label>

                            <span *ngIf="!PasswordForm.controls['newpassword'].valid && PasswordForm.controls['newpassword'].touched " class="help-block sub-little-text"
                                style="color:red">New Password is required.</span>

                        </div>

                        <div class="form-group-material">
                            <input formControlName=Confirmpassword id="Confirmpassword" type="password" name="Confirmpassword" class="input-material"
                                [ngClass]="{'is-invalid ': (!PasswordForm.controls['Confirmpassword'].valid && PasswordForm.controls['Confirmpassword'].touched ), 'is-valid': (PasswordForm.controls['Confirmpassword'].valid && PasswordForm.controls['Confirmpassword'].touched )}">
                            <label for="Confirmpassword" class="label-material">Confirm password</label>

                            <span *ngIf="!PasswordForm.controls['Confirmpassword'].valid && PasswordForm.controls['Confirmpassword'].touched " class="help-block sub-little-text"
                                style="color:red">Confirm Password is required.</span>

                        </div>
                        <div class="form-group text-center">
                            <button [disabled]="!PasswordForm.valid" type="submit" id="login" class="btn btn-primary" style=" border :none;background-color: #f76149 ;width: 130px;border-radius: 4px;">LOGIN</button>

                        </div> -->



                        <div class="form-group-material">
                            <input formControlName="newpassword" type="password" name="newpassword" required class="input-material" [ngClass]="{'is-invalid ': (!PasswordForm.controls['newpassword'].valid && PasswordForm.controls['newpassword'].touched ), 'is-valid': (PasswordForm.controls['newpassword'].valid && PasswordForm.controls['newpassword'].touched )}">
                            <label for="newpassword" class="label-material">New Password</label>
                            <span *ngIf="!PasswordForm.controls['newpassword'].valid &&
                                   PasswordForm.controls['newpassword'].touched  " class="help-block sub-little-text" style="color:red">
                                Minimum length is 4 charecters.</span>
                        </div>

                        <div class="form-group-material">
                            <input formControlName="repeatPassword" type="password" name="repeatPassword" required class="input-material" [ngClass]="{'is-invalid ': (!PasswordForm.controls['repeatPassword'].valid && PasswordForm.controls['repeatPassword'].touched ), 'is-valid': (PasswordForm.controls['repeatPassword'].valid && PasswordForm.controls['repeatPassword'].touched )}">
                            <label for="repeatPassword" class="label-material">Confirm Password</label>
                            <span *ngIf="PasswordForm.controls['repeatPassword'].value != PasswordForm.controls['newpassword'].value &&
                            !PasswordForm.controls['repeatPassword'].valid &&
                                   (PasswordForm.controls['newpassword'].touched || PasswordForm.controls['repeatPassword'].touched)"
                                class="help-block sub-little-text" style="color:red">Passwords don't match.</span>
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <div class="col-md-12">
                                <!-- <input type="submit" value="UPDATE" id="button" style="width: 100px;" />
                            </div> -->
                                <!-- <div class="form-group text-center"> -->
                                <button [disabled]="!PasswordForm.valid" type="submit" id="login" class="btn btn-primary" style=" border :none;background-color: #f76149 ;width: 130px;border-radius: 4px;">UPDATE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>